.card {
    max-width: 413px;
}


.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__like-button {
    background-image: url(../images/Union.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;

}

.card__like-button:hover {
    opacity: 1;
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }
    
    .card__title {
        font-size: 16px;
    }
}