.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-button {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-button_active {
  background-image: url("../images/State=Liked.svg");
  background-size: cover;
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/delete.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.card__delete-button:hover {
  background-color: rgba(255, 101, 101, 1);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
  }
}
