.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin: 0 0 12px;
  border-radius: 5px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: rgba(33, 33, 33, 1);
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color: rgba(33, 33, 33, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

.profile__add-btn {
  margin-left: auto;
  background-color: black;
  color: white;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
    display: flex;
    align-items: center;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__add-btn {
    margin-left: 0;
    align-self: center;
    width: 100%;
  }
}
